@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

body {
  /* background-image: url(backgrounds/3phone.jpeg); */
  color: white;
  width: 100%;
  height: 100%;
  background: linear-gradient(80deg, #a5a4a4, #4d4c4c, #646464, #222222);
  background-size: 1000% 1100%;
  animation: color 15s ease-in-out infinite;
}
/* Keyframes for background color animatio*/
@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* ------------------------------------------ */

.header2 {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.header {
  width: 100%;
  z-index: 100;
  padding: 20px 10%;
  background: linear-gradient(
    60deg,
    rgba(41, 50, 60, 0.8),
    rgba(72, 85, 99, 1) 50%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  text-decoration: none;
  color: aliceblue;
  opacity: 0;
  animation: slideTop 1s ease forwards;
}
.navbar a {
  display: inline-block;
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: 100;
  padding-left: 30px;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a:active,
.navbar a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.container {
  min-height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero {
  width: 100%;
  height: auto;
  padding-top: 100px;
}
#hero .hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  /* padding-right: 200px; */
}
.heroWrapper {
  display: flex;
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  flex-direction: column;
  /* padding-right: 100px; */
  padding-left: 20px;
}
#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  color: white;
  opacity: 0.7;
  z-index: -1;
}
#hero h1 {
  display: block;
  width: fit-content;
  font-size: 50px;
  font-weight: 700;
  position: relative;
  color: white;
}

.paragraph {
  display: block;
  width: fit-content;
  font-size: 2rem;
  position: relative;
  color: white;
}
.cta {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 48px;
  border-radius: 30px;
  font-size: 19px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  margin-top: 25px;
}

.cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(
    45deg,
    rgb(10, 82, 189),
    rgb(13, 82, 82),
    rgb(52, 150, 7)
  );
  background-size: 200%;
  background-position: 0 0;
  z-index: -1;
  border-radius: 30px;
  background-size: 200%;
  filter: blur(5px);
  transition: 0.5s ease;
}

.cta::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(
    45deg,
    rgb(10, 82, 189),
    rgb(13, 82, 82),
    rgb(52, 150, 7)
  );
  background-position: 0 0;
  background-size: 200%;
  z-index: -1;
  border-radius: 30px;
  transition: 0.5s ease;
}
.cta:hover::before {
  background-position: 100% 0;
}
.cta:hover:after {
  background-position: 100% 0;
}

#about {
  width: 100%;
  height: 100vh;
  /* padding: 20px 10% 0; */
  padding-top: 150px;
}
.about-content {
  font-size: 50px;
  width: 70%;
  padding-left: 50px;
}
.about-content p {
  font-size: 50px;
  line-height: 150%;
}
.about {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 140px;
  padding-right: 140px;
}
.h2h3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  border-bottom: 2px solid #fff;
}

.h2h3 h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.h2h3 h3 {
  font-size: 60px;
  font-weight: 700;
}

.about-content p {
  font-size: 20px;
  padding: 100px 0;
}

.btn1 {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 48px;
  border-radius: 30px;
  font-size: 19px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
}

.btn1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(
    45deg,
    rgb(10, 82, 189),
    rgb(13, 82, 82),
    rgb(52, 150, 7)
  );
  background-size: 200%;
  background-position: 0 0;
  z-index: -1;
  border-radius: 30px;
  background-size: 200%;
  filter: blur(5px);
  transition: 0.5s ease;
}

.btn1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(
    45deg,
    rgb(10, 82, 189),
    rgb(13, 82, 82),
    rgb(52, 150, 7)
  );
  background-position: 0 0;
  background-size: 200%;
  z-index: -1;
  border-radius: 30px;
  transition: 0.5s ease;
}
.btn1:hover::before {
  background-position: 100% 0;
}
.btn1:hover:after {
  background-position: 100% 0;
}

.about-sci {
  display: flex;
  gap: 40px;
}

.about-sci a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: linear-gradient(
    45deg,
    rgb(10, 82, 189),
    rgb(13, 82, 82),
    rgb(52, 150, 7)
  );
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  margin: 40px 0;
  z-index: 1;
}

.about-sci a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgb(10, 82, 189),
    rgb(13, 82, 82),
    rgb(52, 150, 7)
  );
  border-radius: 50%;
  z-index: -1;
  transition: 0.5s ease;
}

.about-sci a:hover::before {
  filter: blur(5px);
}

.about-sci a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0c1022;
  border-radius: 50%;
  transform: scale(0.88);
  z-index: -1;
  transition: 0.5s ease;
}

.about-sci a:hover::after {
  transform: scale(0);
}

.about-img {
  max-width: 500px;
  max-height: 500px;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2.1s 3.1s;
}
.about-img .glowing-circle {
  position: relative;
  max-width: 500px;
  max-height: 500px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-img .glowing-circle::after {
  content: "";
  position: absolute;
  width: 550px;
  height: 550px;
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 100%;
}

.glowing-circle span {
  position: absolute;
  width: 113%;
  height: 113%;
  background: linear-gradient(
    45deg,
    rgb(10, 82, 189),
    rgb(13, 82, 82),
    rgb(52, 150, 7)
  );
  border-radius: 100%;
  animation: circleRotate 5s linear infinite;
}

.glowing-circle span:nth-child(1) {
  filter: blur(50px);
}

.glowing-circle .image {
  position: relative;
  width: 560px;
  height: 560px;
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 480px;
  object-fit: cover;
}

/* KEYFRAMES ANIMATION */

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes circleRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* PROJECT SECTION STYLE */
/* #projects {
  width: 100%;
  height: auto;
} */

#projects {
  width: 100%;
  height: auto;
}

.projects-header {
  width: 100%;
  display: flex;
  padding-left: 50px;
  padding-top: 100px;
  border-bottom: 2px solid #fff;
  padding-top: 200px;
}

.projects {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 140px;
  padding-right: 140px;
}

.projects-header h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
}

.all-projects {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
}

.project-item {
  /* padding: 30px; */
  height: 500px;
  width: 494px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 10px;

  overflow: hidden;
  border-radius: 30px;
  background: linear-gradient(
    60deg,
    rgba(41, 50, 60, 0.5),
    rgba(72, 85, 99, 0.5) 50%
  );
}

.project-info {
  padding: 20px;
  flex-basis: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.project-info h1 {
  font-size: 4rem;
  font-weight: 400;
  padding-bottom: 20px;
}

.project-img {
  flex-basis: 50%;
  height: 300px;
  width: 90%;
  padding-left: 20px;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}

.project-img img {
  height: auto;
  max-width: 100%;
  border-radius: 30px;
}

.project-img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.project-item:hover {
  background-image: linear-gradient(
    60deg,
    rgba(41, 50, 60),
    rgba(72, 85, 99) 100%
  );
}

/* Buttons for projects*/

.live-demo {
  position: relative;
  display: inline-flex;
  justify-content: space-around;
  margin: 0 20px;
  align-items: center;
  width: 130px;
  height: 38px;
  border-radius: 30px;
  font-size: 19px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
}

.live-demo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(
    45deg,
    rgb(10, 82, 189),
    rgb(13, 82, 82),
    rgb(52, 150, 7)
  );
  background-size: 200%;
  background-position: 0 0;
  z-index: -1;
  border-radius: 30px;
  background-size: 200%;
  filter: blur(5px);
  transition: 0.5s ease;
}

.live-demo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(
    45deg,
    rgb(10, 82, 189),
    rgb(13, 82, 82),
    rgb(52, 150, 7)
  );
  background-position: 0 0;
  background-size: 200%;
  z-index: -1;
  border-radius: 30px;
  transition: 0.5s ease;
}
.live-demo:hover::before {
  background-position: 100% 0;
}
.live-demo:hover:after {
  background-position: 100% 0;
}

/*SKILLS SECTION */

#skills {
  width: 100%;
  height: auto;
  /* padding: 20px 10% 0; */
  padding-top: 150px;
}

.skills {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 140px;
  padding-right: 140px;
}

.skills-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  border-bottom: 2px solid #fff;
}

.skills h2 {
  font-size: 60px;
  font-weight: 700;
}
.expWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 150px;
}
.exp {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
}

.experience {
  display: flex;
  flex-direction: column;
}

.experience h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
}

.experience p {
  font-size: 15px;
  font-weight: 500;
  margin: 0 auto;
}

.all-content {
  width: 330px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}

.icon span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 30px;
  color: rgb(10, 82, 189);
  text-decoration: none;
  margin: 40px 0;
  z-index: 1;
}

.icon i {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  /* margin: 40px; */
  font-size: 60px;
  color: rgb(10, 82, 189);
}

.icon {
  display: flex;
  padding: 30px;
  /* margin-right: 10px; */
}

/* CONTACT SECTION*/
#contact {
  width: 100%;
  height: auto;
  /* padding: 20px 10% 0; */
  padding-top: 150px;
}
.row {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 140px;
  padding-right: 140px;
}
.heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  border-bottom: 2px solid #fff;
}
.heading h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
}
.right-leftWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 150px;
}
.right-left {
  /* width: 100%; */
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.contact-left {
  flex-basis: 45%;
}

.contact-left p {
  margin-top: 30px;
  font-size: 30px;
  word-wrap: break-word;
}
.contact-left p i {
  color: white;
  margin-right: 15px;
  font-size: 35px;
}

.social-icons {
  margin-top: 30px;
  display: flex;
}

.social-icons a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: linear-gradient(
    45deg,
    rgb(10, 82, 189),
    rgb(13, 82, 82),
    rgb(52, 150, 7)
  );
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  margin: 20px 0;
  z-index: 1;
  margin-right: 30px;
}

.social-icons a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgb(10, 82, 189),
    rgb(13, 82, 82),
    rgb(52, 150, 7)
  );
  border-radius: 50%;
  z-index: -1;
  transition: 0.5s ease;
}

.social-icons a:hover::before {
  filter: blur(5px);
}

.social-icons a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0c1022;
  border-radius: 50%;
  transform: scale(0.88);
  z-index: -1;
  transition: 0.5s ease;
}

.social-icons a:hover::after {
  transform: scale(0);
}

.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background-color: #262626;
  padding: 20px;
  color: #fff;
  font-size: 18px;
  border-radius: 30px;
  margin-top: 15px;
}

form .cta {
  width: 100%;
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.cta2 {
  font-size: 50px;
  width: 50px !important;
  /* height: auto; */
}

#msg {
  color: white;
  font-size: 15px;
  /* margin-top: -20px; */
  display: block;
}
.copyright {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.copyright p {
  font-size: 15px;
  padding: 20px 0;
  /* margin-top: 200px; */
}

.upArrow {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding: 50px;
  padding-right: 200px;
  margin-top: 50px;
}

/* -----------------CSS for small screen ------------ */
.header .bx {
  display: none;
}
@media only screen and (max-width: 850px) {
  body {
    /* background-size: 1000%; */
    /* background-position: top center; */
    /* position: relative; */
    z-index: 1;
    overflow-x: hidden;
    width: 100%;
  }

  .header .logo {
    font-size: 20px;
  }

  .header .bx {
    display: block;
    font-size: 25px;
  }

  /* Burger menu*/
  #sidemenu {
    display: block;
    justify-content: end;
    align-items: flex-end;
    padding-left: 20px;
    height: 100vh;
  }

  #sidemenu .navbar {
    display: block;
  }
  .nav nav {
    background: linear-gradient(
      60deg,
      rgba(41, 50, 60, 0.8),
      rgba(72, 85, 99, 1) 50%
    );
    position: fixed;
    top: 0;
    right: -200px;
    min-width: 200px;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  .nav nav a {
    display: block;
    margin: 25px;
  }

  .nav a:active {
    color: rgb(255, 255, 255);
    background: #fff;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .nav nav .bx {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
    padding-right: 20px;
  }

  .hero {
    /* display: flex; */
    padding: 40px;
    min-height: auto;
    padding-top: 100px;
  }
  .right-left {
    gap: 20px;
  }
  .about-content {
    padding: 40px;
    min-height: auto;
    padding-top: 0;
  }

  .about-content p {
    font-size: 13px;
  }
  .about-sci {
    width: auto;
    margin-left: 10px;
  }
  .right-left {
    flex-direction: column-reverse;
  }
  .contact-left {
    margin-top: 0;
  }
  .contact-left p {
    font-size: 15px;
  }
  .contact-right {
    width: 90%;
  }

  .contact-left i {
    font-size: 15px !important;
  }
  .exp {
    width: 90%;
  }
  #about {
    flex-direction: column-reverse;
    gap: 30px;
    padding-top: 0;
  }
  .about-sci {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .about-img {
    display: flex;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .contact-left {
    width: 90%;
  }

  .cta {
    width: 100%;
  }

  .contact-left .cta {
    padding-left: 20px;
  }

  .contact-left p {
    display: flex;
    flex-direction: row;
  }
  .copyright {
    padding: 20px;
  }
  .copyright p {
    font-size: 15px;
  }
  /* .about-img .glowing-circle::after {
  content: "";
  position: absolute;
  width: 470px;
  height: 470px;
  background-color: #0c1022;
  border-radius: 50%;
}

.glowing-circle span {
  position: absolute;
  width: 103%;
  height: 103%;
  background: linear-gradient(
    45deg,
    rgb(10, 82, 189),
    rgb(13, 82, 82),
    rgb(52, 150, 7)
    );
    border-radius: 50%;
    animation: circleRotate 5s linear infinite;
  }
  
  .glowing-circle .image {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
  z-index: 1;
  overflow: hidden;
}

.image img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 350px;
  object-fit: cover;
} */

  .buttons {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 20px;
    margin-top: 30px;
  }
  .live-demo {
    margin-top: 20px;
  }
  .social-icons {
    padding-left: 25px;
  }
  .social-icons i {
    font-size: 50px;
  }

  .projects-header {
    padding-bottom: 100px;
  }
  .upArrow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
